{% extends 'base.html' %}

{% block titulo %}
Home
{% endblock %}

{% block cabecera %}
<h1 id="titulo">Bienvenido a la Tienda</h1>
{% endblock %}

{% block content %}
<section class="container">
    <article>
        <h2>Oferta</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil facere illo qui error ducimus harum corporis, sequi, maxime pariatur commodi optio magni recusandae reiciendis. Recusandae facilis molestiae vero magni eaque provident, numquam similique, veniam debitis quaerat ut, tempore magnam illo incidunt ab distinctio. Dicta, nam possimus repellendus assumenda deleniti, doloremque, non consectetur nostrum facilis rerum aliquam quisquam dolor eaque. Exercitationem, explicabo? Ad officia, deleniti perspiciatis accusantium omnis quidem vel recusandae, a voluptatem officiis cumque, unde error totam quae eaque consequuntur sapiente facilis. Dolorem labore dolores fugit, quisquam voluptas ipsa dolor. Sint, reprehenderit laudantium impedit nostrum quibusdam aut accusantium aperiam commodi.</p>
        <p>Fecha: 10/Marzo/2023</p>
    </article>

    <article>
        <h2>Oferta</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil facere illo qui error ducimus harum corporis, sequi, maxime pariatur commodi optio magni recusandae reiciendis. Recusandae facilis molestiae vero magni eaque provident, numquam similique, veniam debitis quaerat ut, tempore magnam illo incidunt ab distinctio. Dicta, nam possimus repellendus assumenda deleniti, doloremque, non consectetur nostrum facilis rerum aliquam quisquam dolor eaque. Exercitationem, explicabo? Ad officia, deleniti perspiciatis accusantium omnis quidem vel recusandae, a voluptatem officiis cumque, unde error totam quae eaque consequuntur sapiente facilis. Dolorem labore dolores fugit, quisquam voluptas ipsa dolor. Sint, reprehenderit laudantium impedit nostrum quibusdam aut accusantium aperiam commodi.</p>
        <p>Fecha: 10/Marzo/2023</p>
    </article>
</section>
{% endblock %}