{% extends 'base.html' %}
{% block titulo %}Formulario Proveedor{% endblock %}
{% block cabecera %}
<h1 id="titulo">Proveedor</h1>
{% endblock %}
{% block content %}
    <section class="cont_form">
        <form action="" method="POST" enctype="application/x-www-form-urlencoded" novalidate>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn_guardar">
                <span class="fa fa-floppy-disk"></span> Guardar
            </button>
        </form>
    </section>
{% endblock %}